.start {
  background: #000000 url("../img/start.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 56px;

  @include media-breakpoint-up(md) {
    text-align: center;
    height: 100vh;
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;
    @include media-breakpoint-down(lg) {
      margin-top: 46px;
    }
  }

  &__title {
    font-size: 36px;
    font-family: Gilroy, sans-serif;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @include media-breakpoint-up(xl) {
      font-size: 48px;
      margin-bottom: 14px;
      max-width: 1044px;
    }
  }

  &__desc {
    color: rgba(255, 255, 255, 0.8);
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &__footer {
    margin-top: 40px;
    text-align: center;
  }
}
