.worth
    .container
        .row.worth__row
            .worth__item.col-lg-3.mb-5.order-sm-2
                +img('worth.jpg', 'img-fluid')
            .worth__item.col.offset-3.col-lg-9.order-sm-1
                h3.start__title.worth__title
                    span Наши ценности
            .worth__item.col-lg-3.mb-5.order-sm-2
                .worth__item-title 100% удаленная работа
                .worth__item-desc Мы считаем, что люди должны работать в том месте, где им максимально комфортно,
                    | а не там где есть офис. Поэтому с момента основания мы являемся приверженцами
                    | удалённой  работы. Все сотрудники работают в удобном для себя месте, а сэкономленные
                    | на арненде офисов средства мы используем для тимбилдингов в приятных местах
            .worth__item.col-lg-3.mb-5.order-sm-2
                .worth__item-title Отсутствие жесткой иерархии
                .worth__item-desc Любой член нашей команды может открыто высказаться по любому вопросу, непосредственно повлиять
                    | на принимаемые решение и даже на вектор развития компании. SCRUM для нас
                    | не формальность — мы действительно работаем по нему
            .worth__item.col-lg-3.order-sm-2
                .worth__item-title Возможности и ответственность
                .worth__item-desc Мы поощряем инициативу и даём возможности роста. У нас не получиться раствориться
                    | в коллективе — каждый член команды на виду, у каждого большие возможности
                    | и ответственность, каждый влияет на конечный результат и разделяет наш успех

.market
    .container
        .row.worth__row
            .worth__item.col-lg-3.offset-3
                h3.start__title.worth__title За 4 года на рынке
                .worth__item-desc мы создали успешные продукты, стабильно приносящие прибыль и кратно растущие от месяца к месяцу, мы не зависим от потрясений локального рынка
            .worth__item.col-lg-6
                +img('skills.jpg', 'img-fluid')
