.stack
    .container
        h3.section__title.stack__title   Наш технологический стек
        .row.section__row
            .col-lg-3.section__col.stack__col
                .stack__subtitle Языки программирования
                ul.stack__list
                    li.list-inline-item Java
                    li.list-inline-item Dart
                    li.list-inline-item JavaScript
            .col-lg-9.section__col.stack__col
                .stack__subtitle DevOps
                ul.stack__list
                    li.list-inline-item Docker
                    li.list-inline-item Kubernetis
                    li.list-inline-item Cloud servers
            .col-lg-3.section__col.stack__col
                .stack__subtitle Фронтэнд
                ul.stack__list
                    li.list-inline-item ReactJS
                    li.list-inline-item Angular
            .col-lg-9.section__col.stack__col
                .stack__subtitle Базы данных
                ul.stack__list
                    li.list-inline-item Redis
                    li.list-inline-item PostgreSQL
