.whowe
    .container.whowe__container
        h2.section__title.whowe__title Мы <span class="whowe__elips">100%</span> продуктовая компания
        .section__desc.whowe__desc Это означает, что мы развиваем и улучшаем разрабатываемые продукты, они удовлетворяют реальные потребности тысяч пользователей
