.whowe {
  overflow: hidden;
  padding-top: 38px;
  padding-bottom: 38px;

  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  &__container {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    z-index: 1;
    &:after {
      content: "";
      height: 100%;
      width: 1366px;
      position: absolute;
      background: url("../img/whowe-2.svg") no-repeat -83px 5%;
      left: 0;
      top: 0;
      z-index: -1;

      @include media-breakpoint-up(lg) {
        background-position: -74px 50%;
      }
      @include media-breakpoint-up(lg) {
        background-position: -46px 50%;
      }
    }

    &:before {
      @include media-breakpoint-down(lg) {
        content: "";
        position: absolute;
        z-index: -1;
        width: 50px;
        height: 50px;
        left: 10%;
        background: url("../img/worth-star.svg") no-repeat;
        bottom: 10px;
      }
    }
  }
  &__elips {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      height: 182px;
      width: 182px;
      background: url("../img/whowe-elips.svg") no-repeat center;
      animation-name: rotation;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      z-index: -1;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-bottom: 42px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    max-width: 680px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
