.join-now {
  padding-top: 3rem;
  padding-bottom: 170px;

  &__title {
    margin-bottom: 82px;
  }

  &__accordion {
    margin-left: auto;
    margin-right: auto;
    max-width: 916px;
    margin-bottom: 100px;
  }

  .accordion-item {
    background-color: transparent;
    border: 1px solid transparent;
    padding-top: 19px;
    padding-bottom: 19px;
    position: relative;

    + .accordion-item {
      &:before {
        content: "";
        display: block;
        height: 1px;
        background: url("../img/accordion-divider.svg") no-repeat;
        background-size: auto 1px;
        background-position: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }

  .accordion-header {
    display: flex;
    align-items: center;
    position: relative;
  }

  .accordion-button {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    justify-content: center;
    border-radius: 4px;
    height: 94px;
    box-shadow: none;
    transition: border-raduis 0.2s;

    > span {
      transition: transform 0.2s;
    }

    &:hover,
    &:not(.collapsed) {
      background: linear-gradient(270deg, #a400ff 0%, #2c5af4 97.09%);

      > span {
        transform: scale(1.3);
      }

      + .join-now__location {
        transform: scale(1.4);
        left: 10px;
      }

      ~ .join-now__salary {
        transform: scale(1.4);
        right: 10px;

      }
    }

    &:not(.collapsed) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      box-shadow: none;
    }

    &:after {
      content: "";
      display: none;
    }
  }

  .accordion-body {
    background: linear-gradient(270deg, #A400FF 0%, #2C5AF4 97.09%);
    padding: 1rem 10px;
  }

  &__location,
  &__salary {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 3;
    transition: transform 0.2s, left 0.2s, right 0.2s;
    pointer-events: none;

  }

  &__location {
    left: 0;
    transform-origin: left;
  }

  &__salary {
    right: 0;
    transform-origin: right;
  }

  &__email {
    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 36px;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    color: #A400FF;
    background: linear-gradient(270deg, #A400FF 0%, #2C5AF4 97.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
