.join-now#join-now
    .container
        h3.section__title.join-now__title Готов к нам присоединиться?

        .join-now__accordion
            #accordionExample.accordion
                .accordion-item
                    h2#headingOne.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                            span QA Engineer
                        .join-now__location All world
                        .join-now__salary от 70 000 ₽
                    #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                        .accordion-body
                            .row.justify-content-between
                                .col-lg-9 Ищем опытного backend-разработчика (PHP c опытом работы в высоконагруженных проектах) для создания и поддержки продуктовых сервисов нашей компании. Тебе предстоит разрабатывать и поддерживать go-сервисы команды, активно участвовать в переносе legacy кода с PHP на Go, принимать участие во всех архитектурных решениях.
                                .col-lg-3
                                    ul.list-inline.join-now__list
                                        li.list-inline-item Go.1.13
                                        li.list-inline-item MySQL
                                        li.list-inline-item Redis
                                        li.list-inline-item RabbitMQ
                                        li.list-inline-item Kafka
                                        li.list-inline-item PHP7.3
                                        li.list-inline-item Git
                .accordion-item
                    h2#headingTwo.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                            span PHP\Golang разработчик
                        .join-now__location All world
                        .join-now__salary от 70 000 ₽
                    #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                        .accordion-body
                            .row
                                .col-lg-9 Ищем опытного backend-разработчика (PHP c опытом работы в высоконагруженных проектах) для создания и поддержки продуктовых сервисов нашей компании. Тебе предстоит разрабатывать и поддерживать go-сервисы команды, активно участвовать в переносе legacy кода с PHP на Go, принимать участие во всех архитектурных решениях.
                                .col-lg-3
                                    ul.list-inline.join-now__list
                                        li.list-inline-item Go.1.13
                                        li.list-inline-item MySQL
                                        li.list-inline-item Redis
                                        li.list-inline-item RabbitMQ
                                        li.list-inline-item Kafka
                                        li.list-inline-item PHP7.3
                                        li.list-inline-item Git
                .accordion-item
                    h2#headingThree.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                            span Go Developer
                        .join-now__location All world
                        .join-now__salary от 70 000 ₽
                    #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
                        .accordion-body
                            .row
                                .col-lg-9 Ищем опытного backend-разработчика (PHP c опытом работы в высоконагруженных проектах) для создания и поддержки продуктовых сервисов нашей компании. Тебе предстоит разрабатывать и поддерживать go-сервисы команды, активно участвовать в переносе legacy кода с PHP на Go, принимать участие во всех архитектурных решениях.
                                .col-lg-3
                                    ul.list-inline.join-now__list
                                        li.list-inline-item Go.1.13
                                        li.list-inline-item MySQL
                                        li.list-inline-item Redis
                                        li.list-inline-item RabbitMQ
                                        li.list-inline-item Kafka
                                        li.list-inline-item PHP7.3
                                        li.list-inline-item Git
                .accordion-item
                    h2#headingFour.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                            span Senior Frontend Developer (React)
                        .join-now__location All world
                        .join-now__salary от 70 000 ₽
                    #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#accordionExample')
                        .accordion-body
                            .row
                                .col-lg-9 Ищем опытного backend-разработчика (PHP c опытом работы в высоконагруженных проектах) для создания и поддержки продуктовых сервисов нашей компании. Тебе предстоит разрабатывать и поддерживать go-сервисы команды, активно участвовать в переносе legacy кода с PHP на Go, принимать участие во всех архитектурных решениях.
                                .col-lg-3
                                    ul.list-inline.join-now__list
                                        li.list-inline-item Go.1.13
                                        li.list-inline-item MySQL
                                        li.list-inline-item Redis
                                        li.list-inline-item RabbitMQ
                                        li.list-inline-item Kafka
                                        li.list-inline-item PHP7.3
                                        li.list-inline-item Git

        .row.justify-content-center
            .col-lg-5.col-xl-4.text-lg-center Направляй своё резюме с указанием вакансии и кратким сопроводительным письмом на почту
                a.join-now__email.text-center(href="#") cv@mxtech.ru
