header.header.layout-navbar
	.container
		nav.navbar.navbar-expand-lg.navbar-dark
			a.navbar-brand(href='#')
				img(src='./img/logo.svg' alt='' width='67' height='25')
			button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.ms-auto
					each link,title in header.nav
						li.nav-item(class={active: link === pageLink})
							a.nav-link(href= link)=title

		block header
