extends ../../layout/page

block variables
  - var variable = index

block head

block content
    .start
        include ../../sections/header/header
        .container.start__body
            h1.start__title Разрабатываем и поддерживаем финтех продукты для глобальных рынков с 2017 года
            .start__desc Нашими продуктами пользуются тысячи пользователей по всему миру
            .start__footer
                a.btn.btn-main(href="#") Стать членом команды
    include ./whowe/whowe
    include ./about/about
    include ./stack/stack
    include ./worth/worth
    include ./join-now/join-now


block footer

