extends ../../layout/page

block variables
	- var variable = index

block head

block content
	.start
		include ../../sections/header/header
		.container.start__body
			h1.start__title Разрабатываем и поддерживаем финтех продукты для глобальных рынков с 2017 года
			.start__desc Нашими продуктами пользуются тысячи пользователей по всему миру
			.start__footer
				a.btn.btn-main(href="#") Стать членом команды

	.container.pt-2
		h1.bg-light.py-5.text-center Hello World!!!

		+breadcrumb('Страница', ['Категория'])

		include ../../components/pagination/pagination

block footer

