extends ../../layout/page

block variables
  - var variable = index

block head

block content
    .start
        include ../../sections/header/header
        .container.start__body
            h1.start__title Разрабатываем и поддерживаем финтех продукты для глобальных рынков с 2017 года
            .start__desc Нашими продуктами пользуются тысячи пользователей по всему миру
            .start__footer
                a.btn.btn-main(href="#") Стать членом команды
    include ./whowe/whowe
    .about
        .container
            h3    Наши продукты
            div    Платёжный шлюз для приёма платежей в криптовалюте
            div Брокерское решение для ритейл инвесторов и трейдеров
            div Инвестиционная программа для ритейл инвесторов

        .container
            h3 Наша экспертиза
            div Разработка высоконагруженных финтех решений любой сложности
            div Разработка blockchain решений, смарт-контрактов на базе открытых протоколов
            div PR сопровождение и маркетинг финтех продуктов на глобальном рынке

    .stack
        .container
            h3    Наш технологический стек
            div
                div Языки программирования
                ul.list-inline
                    li Java
                    li Dart
                    li JavaScript
            div
                div DevOps
                ul.list-inline
                    li Docker
                    li Kubernetis
                    li Cloud servers
            div
                div Фронтэнд
                ul.list-inline
                    li ReactJS
                    li Angular
            div
                div Базы данных
                ul.list-inline
                    li Redis
                    li PostgreSQL

    include ./worth/worth

    include ./join-now/join-now


block footer

