.about {
  margin-bottom: 160px;
  overflow: hidden;
  padding-top: 2rem;
  &__title {
    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    .night-sky {
      position: absolute;
      z-index: -1;
      top: -14px;
      left: -52px;
    }
    &_star:before {
      @include media-breakpoint-up(lg) {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        right: 40px;
        width: 50px;
        height: 50px;
        background: url("../img/worth-star.svg") no-repeat;
        animation: opacity 3s alternate infinite;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
      }
    }
    &_2 {
      .night-sky {
        @include media-breakpoint-up(lg) {
          right: auto;
          left: 150px;
        }
        right: 0;
        left: auto;
      }
    }
  }
  &__container {
    margin-bottom: 180px;
  }
  &__col {
    margin-bottom: 26px;
  }
  &__star {
    content: "";
    position: absolute;
    bottom: -120px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url("../img/worth-star.svg") no-repeat;
  }
}

.night-sky {
  width: 284px;
  height: 84px;
}

.star {
  fill: #ba3eff;
}

@for $i from 1 through 76 {
  $animationDelay: (random(100)/random(100));
  $animationDuration: ((random(2) + 1) / 2);
  .twinkle-star-#{$i} {
    animation: twinkle #{$animationDuration}s alternate infinite;
    animation-delay: $animationDelay+s;
  }
}

@keyframes twinkle {
  0% {
    fill: #ba3eff;
  }
  100% {
    fill: #ffffff;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
