.about
    .container.about__container
        h3.section__title.about__title.about__title_star Наши продукты
        .section__parent
            .row.section__row.section__desc
                .col-lg-3.section__col.about__col Платёжный шлюз для приёма платежей в криптовалюте
                .col-lg-3.section__col.about__col Брокерское решение для ритейл инвесторов и трейдеров
                .col-lg-3.section__col.about__col Инвестиционная программа для ритейл инвесторов

    .container.position-relative
        .about__star
        .row.section__row
            .col.offset-lg-3.section__col
                h3.section__title.about__title.about__title_2 Наша экспертиза
                .row.section__row.section__desc
                    .col-lg-4.section__col.about__col
                        .ps-4.ps-lg-0 Разработка высоконагруженных финтех решений любой сложности
                    .col-lg-4.section__col.about__col
                        .ps-4.ps-lg-0 Разработка blockchain решений, смарт-контрактов на базе открытых протоколов
                    .col-lg-4.section__col.about__col
                        .ps-4.ps-lg-0 PR сопровождение и маркетинг финтех продуктов на глобальном рынке
