.about {
  margin-bottom: 160px;
  &__title {
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    @include media-breakpoint-up(lg) {
      margin-bottom: 60px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 284px;
      height: 84px;
      left: -58px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/title-bg.svg") no-repeat;
    }
    &_star:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 50px;
      height: 50px;
      right: 40px;
      top: 50%;
      background: url("../img/worth-star.svg") no-repeat;
    }
    &_2 {
      &:after {
        left: auto;
        right: 0;
        @include media-breakpoint-up(lg){
          right: 55%;
        }
      }
    }
  }
  &__container {
    margin-bottom: 180px;
  }
  &__col {
    margin-bottom: 26px;
  }
  &__star {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    bottom: -120px;
    background: url("../img/worth-star.svg") no-repeat;
  }
}
