.about {
  margin-bottom: 260px;
  &__title {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 284px;
      height: 84px;
      left: -58px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/title-bg.svg") no-repeat;
    }
    &_2 {
      &:after {
        left: auto;
        right: 55%;
      }
    }
  }
  &__container {
    margin-bottom: 180px;
  }
}
