.layout {
  display: flex;
  flex-direction: column;
  &-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #020006;
    color: #ffffff;
  }
  &-navbar {
    padding: 0;
  }
}
