.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

[data-stroke="true"] {
  stroke: currentColor;
}
[data-fill="true"] {
  fill: currentColor;
}

.icon-FB {
  width:(17/12)*1em;
}
.icon-IN {
  width:(14/12)*1em;
}
.icon-TW {
  width:(24/12)*1em;
}
